*.iml
.gradle
/local.properties

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# User-specific configurations
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
/.idea/tasks.xml
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/scopes/scope_settings.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
/.idea/datasources.xml
/.idea/dataSources.ids
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml

# Built application files
*.apk
*.ap_
*.aab

# Keystore files
*.jks
*.keystore

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### AndroidStudio Patch ###

!/gradle/wrapper/gradle-wrapper.jar
